<mat-form-field>
  <mat-select [(ngModel)]="selectedLanguage">
    <mat-select-trigger>
        <app-flag-icon [src]="selectedLanguage.src" [alt]="selectedLanguage.label"></app-flag-icon>
    {{selectedLanguage.label}}
   </mat-select-trigger>
    @for (language of languages; track language.id) {
        <mat-option [value]="language">
            <app-flag-icon [src]="language.src" [alt]="language.label"></app-flag-icon>
            {{language.label}}
        </mat-option>
    }
  </mat-select>
</mat-form-field>