<mat-form-field>
  <mat-select [(ngModel)]="selectedLanguage">
    <mat-select-trigger>
      <img [src]="selectedLanguage.src" width=30 height="20" [alt]="selectedLanguage.label"/>
    {{selectedLanguage.label}}
   </mat-select-trigger>
    @for (language of languages; track language.id) {
        <mat-option [value]="language">
            <img [src]="language.src" width=30 height="20" [alt]="language.label"/>
            {{language.label}}
        </mat-option>
    }
  </mat-select>
</mat-form-field>