<mat-form-field appearance="outline">
  <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="updateLanguage($event)">
    <mat-select-trigger>
        <app-flag-icon [src]="selectedLanguage.src" [alt]="selectedLanguage.label | translate"></app-flag-icon>
    {{selectedLanguage.label | translate}}
   </mat-select-trigger>
    @for (language of languages; track language.id) {
        <mat-option [value]="language">
            <app-flag-icon [src]="language.src" [alt]="language.label | translate"></app-flag-icon>
            {{language.label | translate}}
        </mat-option>
    }
  </mat-select>
</mat-form-field>