::ng-deep .mat-expansion-panel-content-wrapper {
    height: 100%;
    .mat-expansion-panel-body {
        height: 100%;
    }
}
.chat-content-panel {
    height: 70vh;
    overflow-y: auto;
    background-color: white;

}