::ng-deep .mat-expansion-panel-content-wrapper {
    height: 100%;
    .mat-expansion-panel-body {
        height: 100%;
    }
}
.chat-content-panel {
    height: 70vh;
    overflow-y: auto;
    background-color: white;

}
p {
    margin-bottom: 0;
    &.time {
        font-size: 14px;
        color: grey;
    }
    &.message {
        border-radius: 10px;
        padding: 5px;
        &.user {
            background-color: #ebf3fc;
        }
        &.bot {
            background-color: #f5f5f5;
        }
    }
}