<mat-accordion>
    <mat-expansion-panel disabled expanded class="mx-3 chat-content-panel">
        @for(message of (messages | async); track message?.id) {
        <div class="d-flex" [class.justify-content-end]="message?.author === 'User'">
            @if(message?.author === 'AI') {
                <img src="seshat.png" width="80" height="80" alt="seshat">
            }
            <div>
                <p [id]="message?.id" class="time">{{message.time | date: 'shortTime'}}</p>
                <p class="message" [class]="[message?.author === 'User' ? 'user': 'bot']" [innerHTML]="parseMarkdown(message.content)"></p>
            </div>
        </div>
        } @empty {
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <img src="seshat.png" width="200" height="200" alt="seshat">
            <p>{{emptyListMessage}}</p>
        </div>
        }
        @if(botIsTyping | async) {
         <div class="d-flex align-items-end">
            <img src="seshat.png" width="80" height="80" alt="seshat">
            <div class="ps-4 mb-2">
                <div class="loader"></div>
            </div>
         </div>
        }
    </mat-expansion-panel>
</mat-accordion>