p {
    margin-bottom: 0;
    &.time {
        font-size: 14px;
        color: var(--mat-sys-on-surface-variant);
    }
    &.message {
        border-radius: 10px;
        padding: 5px;
        &.user {
            background-color: var(--mat-sys-secondary-container);
            color: var(--mat-sys-on-secondary-container);
        }
        &.bot {
            background-color: var(--mat-sys-tertiary-container);
            color: var(--mat-sys-on-tertiary-container);
        }
    }
}