::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--mat-sys-surface-container);
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-primary);
}