@use '@angular/material' as mat;
@use './themes/egypt.scss';
@use './themes/norse.scss';
@use './themes/greek.scss';
@use './scroll-bar.scss';

html {
    font-family: 'Literata', Georgia, serif;
    @include mat.theme((typography: 'Literata',
            density: 0));
}

* {
    font-family: inherit;
}